<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>‏Apple Remote Desktop - שינוי הגדרות לקוח</string>
	<key>IFPkgDescriptionTitle</key>
	<string>‏Apple Remote Desktop - שינוי הגדרות לקוח</string>
	<key>IFPkgDescriptionVersion</key>
	<string>3.6.0.0</string>
</dict>
</plist>
