<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		pjv0Q/aO6vz+13RjrAbvEQ8s/I8olvQdlQAgIKKwlukkPEgMnrFTVRbmEKXn
		WS5h
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		yhJhDE8WO4I7ghCMUrACBB5GtYC3S2AeNVuCcLRUHMdC9g0We6JPJOTfpkGx
		Ajo4
		</data>
	</dict>
</dict>
</plist>
